@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body, h1, h2, h3  {
    font-family: 'Rock Salt', cursive;
  color: white;
}
.whiteText {
    color: white;
}

.parallax { 
    /* The image used */
    background-image: url("https://i.imgur.com/h5utPpE.jpg");

    /* Set a specific height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}